product view
@model ProductVM
<form asp-action="Create" asp-controller="Product" method="post" class="myform" data-aos="fade-up" data-aos-delay="200">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row gy-4">

        <div class="col-md-6">
            <label asp-for="CatName" class="control-label"></label>

            <input type="text" name="CatName" id="CatName" class="form-control" placeholder=" إسم القسم" >
            <span asp-validation-for="CatName" class="text-danger"></span>

        </div>

        <div class="col-md-6 ">
            <input type="text" class="form-control" name="ProductName" id="ProductName" placeholder=" إسم المنتج" >
            <span asp-validation-for="ProductName" class="text-danger"></span>

        </div>

        <div class="col-12">
            <input type="text" class="form-control" name="ProductPrice" id="ProductPrice" placeholder="سعر المنتج" >
        </div>
        <div class="col-12">
            <input type="text" class="form-control" name="ProductQty" id="ProductQty" placeholder="كمية المنتج" >
        </div>
        
        <div class="col-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <input type="submit" value="ارسال" class="btn btn-primary" />
        </div>

    </div>
            @Html.DropDownList("Id",(SelectList)ViewBag.catList,"اختارالقسم")
</form>